body {
	background-color: #F3DFBF;
}

.nome {
	font-family: Georgia, 'Times New Roman', Times, serif;
}



#foto {
	float: left;
	margin-right: 15px;
	border-radius: 100%;
}

.image {
	height: 12rem;
	width : 12rem;
	border-radius: 50%;
	background-image: url("Eu.jpg");
	background-size: cover
  }

