* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: inherit;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #EFEFEF;
}

/* Header */
.header {
  color: white;
  width: 100%;
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  height: 80px;
}

.trybewarts-login {
  display: flex;
}

.inputs {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

.inputs::placeholder {
  font-size: 15px;
  font-weight: 900;
}

.buttons {
  background-color: rgb(78, 43, 131);
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 900;
}

.buttons:hover {
  opacity: 0.8;
}

#button-form {
  width: 100px;
}

/* Main */
main {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
}

aside {
  width: 40%;
  margin-top: 20px;
}

main .inputs {
  padding: 15px;
  width: 300px;
}

#form-container {
  padding: 20px 10px;
  margin-top: 20px;
}

.inputs-container {
  margin-bottom: 20px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  font-size: 20px;
}

#evaluation-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#label-casa {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

#house {
  width: 240px;
  border: none;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.label-title {
  margin-bottom: 10px;
  display: block;
}

#textarea {
  display: block;
  width: 600px;
  height: 120px;
  resize: none;
  font-size: 16px;
}

#input-nome-container {
  display: flex;
}

#input-email-container {
  display: flex;
}

#label-family {
  display: block;
}

.input-family {
  display: block;
}

#label-content {
  display: block;
}

.items {
  margin-right: 15px;
}

#input-avaliacao-container .items {
  margin-right: 10px;
}

#input-submit-container .buttons {
  width: 90%;
}

/* Footer */
footer {
  background-color: rgb(50, 167, 145);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 54px;
}

@media screen and (max-width: 1200px) {
  main {
    width: 100%;
    flex-direction: column;

  }
  
  #trybewarts-forms-logo {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .inputs::placeholder {
    font-size: 14px;
  }
  
  .trybewarts-login {
    display: none;
  }

  header .trybewarts-header-logo {
    height: 40px;
  }

  header h1 {
    font-size: 26px;
  }

  #evaluation-form {
    width: 100%;
    font-size: 16px;
  }

  #evaluation-form h2 {
    font-size: 22px;
    
  }

  .input-text-container {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .input-text-container input {
    width: 100%;
  }

  #textarea {
    width: 100%;
  }

  #input-nome-container #input-name, .inputs-container, #input-email {
    margin-bottom: 10px;
  }

  #input-submit-container .buttons {
    width: 100%;
  }

  #label-casa {
    display: none;
  }

  #house {
    width: 100%;
  }

  .items {
    display: inline-block;
  }
  
  footer {
    font-size: 14px;
    height: 30px;
  }
}